examples/OBOParse/scripts/metadata/schema.xsd

<?xml version="1.0"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="TerraFrame" type="root">
  <xs:key name="objectKey">
    <xs:selector xpath=".//id"/>
    <xs:field xpath="."/>
  </xs:key>
  <xs:unique name="relationshipKey">
    <xs:selector xpath="./relationship"/>
    <xs:field xpath="id"/>
  </xs:unique>
  <xs:keyref name="objectRef" refer="objectKey">
    <xs:selector xpath="./object/attributes/reference"/>
    <xs:field xpath="value"/>
  </xs:keyref>

  <xs:keyref name="parentId" refer="objectKey">
    <xs:selector xpath="./relationship"/>
    <xs:field xpath="parent_id"/>
  </xs:keyref>

  <xs:keyref name="childId" refer="objectKey">
    <xs:selector xpath="./relationship"/>
    <xs:field xpath="child_id"/>
  </xs:keyref>

  <xs:keyref name="mdRelId" refer="objectKey">
    <xs:selector xpath="./relationship"/>
    <xs:field xpath="id"/>
  </xs:keyref>
   
</xs:element>

<xs:complexType name="root">
  <xs:sequence>
    <xs:element ref="inheritance"/>
    <xs:choice maxOccurs="unbounded">
      <xs:element ref="object"/>
      <xs:element name="relationship" type="relationship"/>
      <xs:element name="entityIndex" type="entityIndex"/>      
      <xs:element ref="enumeration"/>
    </xs:choice>
  </xs:sequence>
</xs:complexType>

<xs:element name="indexEnumerationMapping">
  <xs:complexType>
    <xs:sequence>
	<xs:element name="instance" minOccurs="0" maxOccurs="unbounded">
	  <xs:complexType>
	    <xs:attribute name="set_id" type="xs:string" use="required"/>
	    <xs:attribute name="index_id" type="xs:string" use="required"/>
	</xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="inheritance">
  <xs:complexType>
    <xs:sequence>
      <xs:any processContents="skip" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="object">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
      <xs:element ref="definitions" minOccurs="0"/>
      <xs:element ref="attributes"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:complexType name="relationship">
  <xs:sequence>
    <xs:element name="id" type="xs:string"/>
    <xs:element name="parent_id" type="xs:string"/>
    <xs:element name="child_id" type="xs:string"/>
    <xs:element ref="attributes" minOccurs="0"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="entityIndex">
  <xs:complexContent>
    <xs:extension base="relationship">
	  <xs:sequence>
	      <xs:element name="tableName" type="xs:string"/>
	      <xs:element name="indexName" type="xs:string"/>
	      <xs:element name="uniqueValue" type="xs:string"/>
	      <xs:element ref="indexedColumns"/>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:element name="indexedColumns">
  <xs:complexType>
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="columnName" minOccurs="0"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="indexType_c">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="enumeration" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="setterVisibility_c">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="enumeration" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="getterVisibility_c">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="enumeration" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="hashMethod_c">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="enumeration" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>


<xs:element name="enumeration">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="set_id" type="xs:string"/>
      <xs:element name="item_id" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="definitions">
  <xs:complexType>
	<xs:choice minOccurs="0" maxOccurs="unbounded">
	  <xs:element name="mdattributeboolean" type="mdattributeboolean"/>
	  <xs:element name="mdattributeinteger" type="mdattributeinteger"/>
	  <xs:element name="mdattributelong" type="mdattributelong"/>
	  <xs:element name="mdattributefloat" type="mdattributefloat"/>
	  <xs:element name="mdattributedouble" type="mdattributedouble"/>
	  <xs:element name="mdattributedecimal" type="mdattributedecimal"/>
	  <xs:element name="mdattributecharacter" type="mdattributecharacter"/>
	  <xs:element name="mdattributehash" type="mdattributehash" />
	  <xs:element name="mdattributesymmetric" type="mdattributesymmetric" />
	  <xs:element name="mdattributeblob" type="mdattributeblob"/>
	  <xs:element name="mdattributetext" type="mdattributetext"/>
	  <xs:element name="mdattributetime" type="mdattributetime"/>
	  <xs:element name="mdattributedate" type="mdattributedate"/>
	  <xs:element name="mdattributedatetime" type="mdattributedatetime"/>
	  <xs:element name="mdattributefile" type="mdattributefile"/>
	  <xs:element name="mdattributereference" type="mdattributereference"/>
	  <xs:element name="mdattributeenumeration" type="mdattributeenumeration"/>
	  <xs:element name="mdattributestruct" type="mdattributestruct"/>
	</xs:choice>
  </xs:complexType>
</xs:element>

<xs:complexType name="component">
  <xs:sequence>
    <xs:element name="id" type="xs:string"/>
    <xs:element name="keyName" type="xs:string"/>
    <xs:element name="type" type="xs:string"/>
    <xs:element name="createdBy" type="xs:string"/>
    <xs:element name="createDate" type="xs:string"/>
    <xs:element name="lastUpdatedBy" type="xs:string"/>
    <xs:element name="lastUpdateDate" type="xs:string"/>
    <xs:element name="lockedBy" type="xs:string"/>
    <xs:element name="seq" type="xs:string"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="metadata">
  <xs:complexContent>
    <xs:extension base="component">
	  <xs:sequence>
	    <xs:element name="remove" type="xs:integer"/>
  	    <xs:element name="description" type="xs:string"/>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattribute">
  <xs:complexContent>
    <xs:extension base="metadata">
	  <xs:sequence/>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributevirtual">
  <xs:complexContent>
    <xs:extension base="mdattribute">
	  <xs:sequence>
	    <xs:element name="displayLabel" type="xs:string"/>
 	    <xs:element name="definingMdView"      type="xs:string"/>
	    <xs:element name="mdAttributeConcrete" type="xs:string"/>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributeconcrete">
  <xs:complexContent>
    <xs:extension base="mdattribute">
	  <xs:sequence>
 	    <xs:element name="displayLabel" type="xs:string"/>
	    <xs:element name="definingMdClass" type="xs:string"/>
	    <xs:element name="attributeName" type="xs:string"/>
	    <xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
	    <xs:element name="required" type="xs:integer"/>
	    <xs:element name="indexType" type="xs:string"/>
	    <xs:element ref="indexType_c" minOccurs="1"/>
	    <xs:element name="indexName" type="xs:string"/>
	    <xs:element name="system" type="xs:integer"/>
	    <xs:element name="immutable" type="xs:integer"/>
	    <xs:element name="owner" type="xs:string"/>
  	    <xs:element name="setterVisibility" type="xs:string"/>
  	    <xs:element ref="setterVisibility_c" minOccurs="1"/>
  	    <xs:element name="getterVisibility" type="xs:string"/>
  	    <xs:element ref="getterVisibility_c" minOccurs="1"/>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<!--
<xs:complexType name="mdattribute">
  <xs:complexContent>
    <xs:extension base="metadata">
	  <xs:sequence>
	    <xs:element name="attributeName" type="xs:string"/>
	    <xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
	    <xs:element name="required" type="xs:integer"/>
	    <xs:element name="indexType" type="xs:string"/>
	    <xs:element ref="indexType_c" minOccurs="1"/>
	    <xs:element name="indexName" type="xs:string"/>
	    <xs:element name="definingMdClass" type="xs:string"/>
	    <xs:element name="system" type="xs:integer"/>
	    <xs:element name="immutable" type="xs:integer"/>
	    <xs:element name="owner" type="xs:string"/>
  	    <xs:element name="setterVisibility" type="xs:string"/>
  	    <xs:element ref="setterVisibility_c" minOccurs="1"/>
  	    <xs:element name="getterVisibility" type="xs:string"/>
  	    <xs:element ref="getterVisibility_c" minOccurs="1"/>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>
-->

<xs:complexType name="mdattributeprimitive">
  <xs:complexContent>
    <xs:extension base="mdattributeconcrete">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributeboolean">
  <xs:complexContent>
    <xs:extension base="mdattributeprimitive">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributenumber">
  <xs:complexContent>
    <xs:extension base="mdattributeprimitive">
	  <xs:sequence>
	    <xs:element name="rejectPositive" type="xs:integer"/>
	    <xs:element name="rejectZero" type="xs:integer"/>
	    <xs:element name="rejectNegative" type="xs:integer"/>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributeint">
  <xs:complexContent>
    <xs:extension base="mdattributenumber">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributeinteger">
  <xs:complexContent>
    <xs:extension base="mdattributeint">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributelong">
  <xs:complexContent>
    <xs:extension base="mdattributeint">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributedec">
  <xs:complexContent>
    <xs:extension base="mdattributenumber">
	  <xs:sequence>
	    <xs:element name="databaseLength" type="xs:integer"/>
	    <xs:element name="databaseDecimal" type="xs:integer"/>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributefloat">
  <xs:complexContent>
    <xs:extension base="mdattributedec">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributedouble">
  <xs:complexContent>
    <xs:extension base="mdattributedec">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributedecimal">
  <xs:complexContent>
    <xs:extension base="mdattributedec">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributeencryption">
  <xs:complexContent>
    <xs:extension base="mdattributeconcrete">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributesymmetric">
  <xs:complexContent>
    <xs:extension base="mdattributeencryption">
	  <xs:sequence>
	    <xs:element name="symmetricMethod" type="xs:string"/>
	    <xs:element name="secretKeySize" type="xs:string"/>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributehash">
  <xs:complexContent>
    <xs:extension base="mdattributeencryption">
	  <xs:sequence>
	    <xs:element name="hashMethod" type="xs:string"/>
        <xs:element ref="hashMethod_c" minOccurs="1"/>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributeblob">
  <xs:complexContent>
    <xs:extension base="mdattributeprimitive">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributechar">
  <xs:complexContent>
    <xs:extension base="mdattributeprimitive">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributecharacter">
  <xs:complexContent>
    <xs:extension base="mdattributechar">
	  <xs:sequence>
	    <xs:element name="databaseSize" type="xs:integer"/>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributetext">
  <xs:complexContent>
    <xs:extension base="mdattributechar">
	  <xs:sequence>
	    <!--
      <xs:element name="databaseRows" type="xs:integer"/>
	    <xs:element name="databaseColumns" type="xs:integer"/>
      -->
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributemoment">
  <xs:complexContent>
    <xs:extension base="mdattributeprimitive">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributetime">
  <xs:complexContent>
    <xs:extension base="mdattributemoment">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributedate">
  <xs:complexContent>
    <xs:extension base="mdattributemoment">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributedatetime">
  <xs:complexContent>
    <xs:extension base="mdattributemoment">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributeref">
  <xs:complexContent>
    <xs:extension base="mdattributeconcrete">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributefile">
  <xs:complexContent>
    <xs:extension base="mdattributeref">
	  <xs:sequence>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributereference">
  <xs:complexContent>
    <xs:extension base="mdattributeref">
	  <xs:sequence>
	    <xs:element name="mdBusiness" type="xs:string"/>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributeenumeration">
  <xs:complexContent>
    <xs:extension base="mdattributeref">
	  <xs:sequence>
	  	<xs:element name="cacheColumnName" type="xs:string"/>
	    <xs:element name="mdEnumeration" type="xs:string"/>
	    <xs:element name="selectMultiple" type="xs:integer"/>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="mdattributestruct">
  <xs:complexContent>
    <xs:extension base="mdattributeconcrete">
	  <xs:sequence>
	    <xs:element name="mdStruct" type="xs:string"/>
	  </xs:sequence>
	</xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:element name="attributes">
  <xs:complexType>
    <xs:choice maxOccurs="unbounded">
      <xs:element name="attribute" type="attribute"/>
      <xs:element name="reference" type="reference"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="choices">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="choice" type="choice" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:complexType name="choice">
  <xs:sequence maxOccurs="unbounded">
    <xs:element name="attribute" type="attribute"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="attribute">
  <xs:sequence>
    <xs:element name="name" type="xs:string"/>
    <xs:element name="value" type="xs:string"/>
    <xs:element name="definingComponent" type="xs:string"/>
    <xs:element ref="enumeration" minOccurs="0"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="reference">
  <xs:sequence>
    <xs:element name="name" type="xs:string"/>
    <xs:element name="value" type="xs:string"/>
  </xs:sequence>
</xs:complexType>

</xs:schema>
